@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
/* line 2, ../scss/_utils.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 10, ../scss/_utils.scss */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  /* line 10, ../scss/_utils.scss */
  body {
    line-height: 1.4;
  }
}

/* line 19, ../scss/_utils.scss */
.gap-md {
  gap: 3rem !important;
}

/* line 22, ../scss/_utils.scss */
.gap-sm {
  gap: 1.2rem !important;
}

/* line 26, ../scss/_utils.scss */
.mtp-lg {
  margin-top: 6rem;
}

/* line 29, ../scss/_utils.scss */
.mtp-xl {
  margin-top: 8rem;
}

/* line 32, ../scss/_utils.scss */
.mbt-md {
  margin-bottom: 6rem;
}

/* line 36, ../scss/_utils.scss */
.bg-primary-color {
  background: #0083cb;
  color: white;
}

/* line 40, ../scss/_utils.scss */
.bg-light-color {
  background: #f6f7f8;
}

/* line 44, ../scss/_utils.scss */
.bg-secondary-color {
  background-color: #58585a;
  color: white;
}

/* line 49, ../scss/_utils.scss */
.text-primary-color {
  color: #0083cb;
}

/* line 52, ../scss/_utils.scss */
.text-lighter {
  color: #f6f7f8 !important;
}

/* line 55, ../scss/_utils.scss */
.text-secondary-color {
  color: #58585a !important;
}

/* line 59, ../scss/_utils.scss */
.btn {
  border: none !important;
  outline: none !important;
  border-radius: 0 !important;
}

/* line 65, ../scss/_utils.scss */
.btn-primary-color {
  background: #0083cb;
  color: white;
}
/* line 69, ../scss/_utils.scss */
.btn-primary-color:hover {
  color: white !important;
}

/* line 73, ../scss/_utils.scss */
.btn-outline-primary-color {
  border: 2px solid #0083cb !important;
}

/* line 77, ../scss/_utils.scss */
ul {
  padding: 0 !important;
}
/* line 79, ../scss/_utils.scss */
ul li {
  list-style: none !important;
}

/* line 83, ../scss/_utils.scss */
a {
  text-decoration: none !important;
  color: white !important;
}

/* line 87, ../scss/_utils.scss */
.shadow {
  box-shadow: 1px 1px 20px #f6f7f8;
}

/* line 90, ../scss/_utils.scss */
input,
textarea {
  border: none;
  outline: none;
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 10px;
}

/* line 98, ../scss/_utils.scss */
.inner-showcase {
  margin-top: 4rem;
  padding-top: 1rem;
  height: 25rem;
}

/* line 103, ../scss/_utils.scss */
.inner-showcase__title {
  font-size: 3rem;
  font-weight: bolder;
}
@media screen and (max-width: 1199px) {
  /* line 103, ../scss/_utils.scss */
  .inner-showcase__title {
    font-size: 2.3rem !important;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  /* line 103, ../scss/_utils.scss */
  .inner-showcase__title {
    font-size: 1.9rem !important;
  }
}

/* line 115, ../scss/_utils.scss */
.inner-showcase__subtitle {
  font-size: 1.5rem;
  width: 65%;
  text-align: center;
  margin-top: 0.5rem;
}
@media screen and (max-width: 1199px) {
  /* line 115, ../scss/_utils.scss */
  .inner-showcase__subtitle {
    font-size: 1.2rem !important;
    line-height: 1.4;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* line 115, ../scss/_utils.scss */
  .inner-showcase__subtitle {
    font-size: 1rem !important;
  }
}

/* line 129, ../scss/_utils.scss */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  /* line 129, ../scss/_utils.scss */
  .grid-2 {
    grid-template-columns: 1fr;
  }
}

/* line 139, ../scss/_utils.scss */
.breadcrumb .text-secondary-color:hover {
  color: #0083cb !important;
}

/* line 145, ../scss/_utils.scss */
.mobile-app-showcase::before, .desktop-dev-showcase::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(to right, rgba(0, 131, 203, 0.9) 0, rgba(3, 15, 39, 0.1) 100%);
  z-index: -1;
}

/* line 163, ../scss/_utils.scss */
footer .site-details ul a:hover {
  color: #0083cb !important;
}

/* line 169, ../scss/_utils.scss */
.current {
  color: #0083cb !important;
}

/* line 1, ../scss/_tech.scss */
.tech-showcase {
  background: url("../images/inner-banner.jpeg") no-repeat center center/cover;
}
/* line 4, ../scss/_tech.scss */
.tech-showcase h1 {
  color: #0083cb;
}

/* line 10, ../scss/_tech.scss */
.stack {
  border-bottom: 2px solid #3333;
  gap: 4rem !important;
}
@media screen and (max-width: 768px) {
  /* line 10, ../scss/_tech.scss */
  .stack {
    flex-direction: column !important;
    gap: 1rem !important;
    padding-bottom: 1rem;
  }
  /* line 18, ../scss/_tech.scss */
  .stack .btn {
    margin-right: 14px;
    margin-top: 14px;
  }
}
/* line 23, ../scss/_tech.scss */
.stack:last-child {
  border: none;
}
/* line 26, ../scss/_tech.scss */
.stack .btn {
  padding: 12px;
  font-weight: bold;
  border-radius: 8px;
}
/* line 31, ../scss/_tech.scss */
.stack .stack-text {
  flex: 55%;
}
/* line 33, ../scss/_tech.scss */
.stack .stack-text p {
  font-size: 1.2rem;
}
/* line 37, ../scss/_tech.scss */
.stack .stack-content {
  flex: 45%;
  flex-wrap: wrap !important;
}

/* line 1, ../scss/_web-app.scss */
.web-app-showcase {
  background: url("../images/bg-header1.jpg") no-repeat center center/cover;
  position: relative;
}
/* line 5, ../scss/_web-app.scss */
.web-app-showcase::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(to right, rgba(0, 131, 203, 0.7) 0, rgba(3, 15, 39, 0.3) 100%);
}
/* line 18, ../scss/_web-app.scss */
.web-app-showcase h1,
.web-app-showcase p {
  z-index: 10;
}
@media screen and (max-width: 768px) {
  /* line 23, ../scss/_web-app.scss */
  .web-app-showcase h1 {
    font-size: 1.7rem !important;
  }
}

/* line 29, ../scss/_web-app.scss */
.quote svg {
  display: block;
  margin: 2rem auto;
}
@media screen and (max-width: 768px) {
  /* line 34, ../scss/_web-app.scss */
  .quote .d-flex {
    flex-direction: column;
  }
  /* line 38, ../scss/_web-app.scss */
  .quote .d-flex .start-up {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 768px) {
  /* line 44, ../scss/_web-app.scss */
  .quote a {
    display: block;
    width: 75% !important;
  }
}

/* line 1, ../scss/_about.scss */
#about-us {
  background: url("../images/about-banner1.jpg") no-repeat center center/cover;
  position: relative;
  z-index: 10;
}
/* line 5, ../scss/_about.scss */
#about-us::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: -1;
}
/* line 15, ../scss/_about.scss */
#about-us h3 {
  font-size: 3.5rem;
}
/* line 18, ../scss/_about.scss */
#about-us p {
  margin-bottom: 1.5rem;
}

/* line 23, ../scss/_about.scss */
.about-us .row {
  gap: 20px !important;
}
/* line 26, ../scss/_about.scss */
.about-us img {
  width: 80% !important;
}
@media screen and (max-width: 768px) {
  /* line 26, ../scss/_about.scss */
  .about-us img {
    width: 100% !important;
  }
}
/* line 34, ../scss/_about.scss */
.about-us .about-text p {
  font-size: 1.1rem;
}

@media screen and (max-width: 991px) {
  /* line 40, ../scss/_about.scss */
  .about-vision .row {
    flex-direction: column !important;
  }
  /* line 44, ../scss/_about.scss */
  .about-vision .row img {
    display: none;
  }
  /* line 48, ../scss/_about.scss */
  .about-vision .row .vision-text > div {
    margin-bottom: 18px;
    padding: 1rem;
  }
  /* line 52, ../scss/_about.scss */
  .about-vision .row .vision-text > div:nth-child(even) {
    background: #f6f7f8;
  }
  /* line 55, ../scss/_about.scss */
  .about-vision .row .vision-text > div:nth-child(3) {
    background: white;
    box-shadow: 1px 1px 20px #f6f7f8;
  }
}

/* line 1, ../scss/_service.scss */
.main-service {
  margin: 7rem 0;
}
/* line 3, ../scss/_service.scss */
.main-service .divider {
  width: 12rem;
}

@media screen and (max-width: 991px) {
  /* line 9, ../scss/_service.scss */
  .mobile-app .d-flex {
    flex-direction: column !important;
  }
}
/* line 13, ../scss/_service.scss */
.mobile-app .mobile__img {
  position: relative;
  flex: 100%;
}
/* line 17, ../scss/_service.scss */
.mobile-app .mobile__img img {
  width: 130% !important;
  height: 100% !important;
  position: absolute;
  top: -1em;
  left: 0;
  object-fit: cover;
  transform: translateX(-80px);
}
@media screen and (max-width: 1199px) {
  /* line 17, ../scss/_service.scss */
  .mobile-app .mobile__img img {
    transform: translateX(0);
  }
}
@media screen and (max-width: 991px) {
  /* line 17, ../scss/_service.scss */
  .mobile-app .mobile__img img {
    position: static !important;
    transform: translateY(-60px);
  }
}

@media screen and (max-width: 576px) {
  /* line 36, ../scss/_service.scss */
  .ios-and-andriod .row {
    padding: 0 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  /* line 40, ../scss/_service.scss */
  .ios-and-andriod .row > div {
    margin: 0 !important;
    margin-bottom: 13px !important;
  }
}

/* line 48, ../scss/_service.scss */
.desktop-development {
  background: url("../images/inner-banner.jpeg") no-repeat center center/cover;
}
@media screen and (max-width: 579px) {
  /* line 51, ../scss/_service.scss */
  .desktop-development .row {
    padding: 0 1.3rem;
  }
}
/* line 55, ../scss/_service.scss */
.desktop-development .row > div {
  background: white;
  padding: 1rem;
  border-radius: 8px;
}
@media screen and (max-width: 991px) {
  /* line 55, ../scss/_service.scss */
  .desktop-development .row > div {
    margin-bottom: 13px;
  }
}
@media screen and (max-width: 532px) {
  /* line 63, ../scss/_service.scss */
  .desktop-development .row .d-flex {
    flex-direction: column !important;
  }
}
/* line 67, ../scss/_service.scss */
.desktop-development .row .d-flex img {
  width: 150px !important;
  height: 150px !important;
}
@media screen and (max-width: 532px) {
  /* line 67, ../scss/_service.scss */
  .desktop-development .row .d-flex img {
    width: 100px !important;
    height: 100px !important;
    display: block;
    margin: 0 auto;
  }
}

/* line 83, ../scss/_service.scss */
.software-dev .grid-2 .boxes img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}
/* line 89, ../scss/_service.scss */
.software-dev .grid-2 .boxes h5 {
  text-align: center;
}
/* line 92, ../scss/_service.scss */
.software-dev .grid-2 .boxes p {
  font-size: 14px;
}

/* line 98, ../scss/_service.scss */
.design-process {
  margin-top: 3rem;
  background-image: url("../images/curve1.svg");
}

/* line 113, ../scss/_service.scss */
.mobile-app-showcase {
  background: url("../images/mobile-app-development.png");
  background-repeat: no-repeat;
  background-position: right center;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 991px) {
  /* line 113, ../scss/_service.scss */
  .mobile-app-showcase {
    background-position: center center;
  }
}

/* line 124, ../scss/_service.scss */
.desktop-dev-showcase {
  background: url("../images/desktop-dev2.png");
  background-repeat: no-repeat;
  background-position: right center;
  position: relative;
}
@media screen and (max-width: 991px) {
  /* line 124, ../scss/_service.scss */
  .desktop-dev-showcase {
    background-position: center center;
  }
}

/* line 134, ../scss/_service.scss */
.software-dev-showcase {
  padding-top: 0;
  position: relative;
  z-index: 10;
}
/* line 138, ../scss/_service.scss */
.software-dev-showcase::before {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 131, 203, 0.9) 0, rgba(3, 15, 39, 0.1) 100%);
  content: "";
}
/* line 153, ../scss/_service.scss */
.software-dev-showcase video {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
/* line 158, ../scss/_service.scss */
.software-dev-showcase .title {
  position: absolute;
  top: 30%;
  left: 5%;
}
@media screen and (max-width: 1199px) {
  /* line 158, ../scss/_service.scss */
  .software-dev-showcase .title {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 1399px) {
  /* line 8, ../scss/_style.scss */
  .bespoke .d-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  /* line 12, ../scss/_style.scss */
  .bespoke .d-flex .btn {
    display: block;
    margin: 0 auto;
  }
  /* line 16, ../scss/_style.scss */
  .bespoke .d-flex img {
    width: 100%;
  }

  /* line 22, ../scss/_style.scss */
  .bespoke__text .btn {
    width: 65% !important;
  }
}
/* line 27, ../scss/_style.scss */
.navbar {
  height: 75px !important;
  border-bottom: 1px solid #3333;
}
@media screen and (max-width: 991px) {
  /* line 27, ../scss/_style.scss */
  .navbar {
    height: 80px !important;
  }
}
@media screen and (max-width: 625px) {
  /* line 27, ../scss/_style.scss */
  .navbar {
    width: 100vw !important;
  }
}
@media screen and (max-width: 991px) {
  /* line 36, ../scss/_style.scss */
  .navbar .container {
    width: 100% !important;
  }
}
@media screen and (max-width: 625px) {
  /* line 36, ../scss/_style.scss */
  .navbar .container {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
}
/* line 53, ../scss/_style.scss */
.navbar .hamburger i {
  font-size: 1.6rem;
}
/* line 58, ../scss/_style.scss */
.navbar .offcanvas {
  height: 40% !important;
  padding: 0.5rem;
}
/* line 61, ../scss/_style.scss */
.navbar .offcanvas a {
  color: #58585a !important;
  display: block;
  padding: 8px;
}
/* line 65, ../scss/_style.scss */
.navbar .offcanvas a:hover {
  background-color: #0083cb !important;
  color: white !important;
}
/* line 71, ../scss/_style.scss */
.navbar img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
@media screen and (max-width: 625px) {
  /* line 71, ../scss/_style.scss */
  .navbar img {
    width: 75% !important;
  }
}
@media screen and (max-width: 991px) {
  /* line 83, ../scss/_style.scss */
  .navbar .navbar-nav {
    background-color: rgba(3, 15, 39, 0.5);
    padding: 14px;
  }
}
/* line 88, ../scss/_style.scss */
.navbar .navbar-nav a {
  color: #58585a !important;
  font-weight: bold;
}
@media screen and (max-width: 991px) {
  /* line 88, ../scss/_style.scss */
  .navbar .navbar-nav a {
    color: white !important;
  }
}
/* line 94, ../scss/_style.scss */
.navbar .navbar-nav a:hover {
  color: #0083cb !important;
}

/* line 100, ../scss/_style.scss */
.showcase {
  width: 100%;
  position: relative;
}
/* line 103, ../scss/_style.scss */
.showcase .slick-slider {
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 108, ../scss/_style.scss */
.showcase .slick-slider .next {
  position: absolute;
  top: 43%;
  right: 2%;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 624px) {
  /* line 108, ../scss/_style.scss */
  .showcase .slick-slider .next {
    display: none !important;
  }
}
/* line 119, ../scss/_style.scss */
.showcase .slick-slider .prev {
  cursor: pointer;
  position: absolute;
  top: 40%;
  color: white;
  left: 2%;
  z-index: 10;
  padding: 0.8rem;
}
@media screen and (max-width: 624px) {
  /* line 119, ../scss/_style.scss */
  .showcase .slick-slider .prev {
    display: none !important;
  }
}
/* line 132, ../scss/_style.scss */
.showcase .slick {
  height: 100%;
  width: 100%;
}
/* line 135, ../scss/_style.scss */
.showcase .slick .slick_item {
  height: 42rem;
  width: 100%;
  position: relative;
  z-index: 5;
}
/* line 142, ../scss/_style.scss */
.showcase .slick .slick_item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, from(rgba(3, 15, 39, 0.8)), to(rgba(3, 15, 39, 0)));
  background: -webkit-linear-gradient(left, rgba(3, 15, 39, 0.8) 0, rgba(3, 15, 39, 0) 100%);
  background: -o-linear-gradient(left, rgba(3, 15, 39, 0.8) 0, rgba(3, 15, 39, 0) 100%);
  background: linear-gradient(to right, rgba(3, 15, 39, 0.8) 0, rgba(3, 15, 39, 0) 100%);
}
/* line 173, ../scss/_style.scss */
.showcase .slick .slick_item .slider_title {
  font-size: 3.5rem !important;
  font-weight: 800;
}
@media screen and (max-width: 991px) {
  /* line 173, ../scss/_style.scss */
  .showcase .slick .slick_item .slider_title {
    font-size: 3rem !important;
  }
}
@media screen and (max-width: 768px) {
  /* line 173, ../scss/_style.scss */
  .showcase .slick .slick_item .slider_title {
    font-size: 1.7rem !important;
  }
}
/* line 184, ../scss/_style.scss */
.showcase .slick .slice_item_1 {
  background: url("../images/hero-4.jpg") no-repeat center center/cover;
}
/* line 187, ../scss/_style.scss */
.showcase .slick .slice_item_2 {
  background: url("../images/bg-header1.jpg") no-repeat center center/cover;
}
/* line 189, ../scss/_style.scss */
.showcase .slick .slice_item_2 h1,
.showcase .slick .slice_item_2 p {
  width: 90%;
}
/* line 194, ../scss/_style.scss */
.showcase .slick .slice_item_3 {
  background: url("../images/hero-1.jpg") no-repeat center center/cover;
}

@media screen and (max-width: 991px) {
  /* line 201, ../scss/_style.scss */
  .service #services {
    flex-direction: column !important;
    gap: 4rem !important;
  }
}
/* line 207, ../scss/_style.scss */
.service #services .service__item {
  flex: 33.3%;
  height: 280px;
}
@media screen and (max-width: 768px) {
  /* line 207, ../scss/_style.scss */
  .service #services .service__item {
    margin-bottom: 4rem !important;
  }
}
/* line 214, ../scss/_style.scss */
.service #services .service__item:hover .service__item-description {
  padding: 1rem 0;
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: bottom left;
  transform: translateY(-200px);
  height: 100%;
  background: rgba(88, 88, 90, 0.7);
  justify-content: flex-start !important;
}
@media screen and (max-width: 991px) {
  /* line 214, ../scss/_style.scss */
  .service #services .service__item:hover .service__item-description {
    justify-content: center !important;
  }
}
/* line 225, ../scss/_style.scss */
.service #services .service__item:hover .service__item-description .service-title {
  align-items: center !important;
}
/* line 228, ../scss/_style.scss */
.service #services .service__item:hover .service__item-description h4 {
  color: #ffc107 !important;
  margin-bottom: 1.3rem;
}
/* line 233, ../scss/_style.scss */
.service #services .service__item:hover .service__item-description__text {
  display: block;
  color: white;
  padding-left: 1rem;
}
/* line 238, ../scss/_style.scss */
.service #services .service__item:hover .btn {
  display: block;
  margin: 1rem 0;
}
/* line 243, ../scss/_style.scss */
.service #services .service__item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
/* line 248, ../scss/_style.scss */
.service #services .service__item h4 {
  font-size: 1.3rem;
}
/* line 252, ../scss/_style.scss */
.service #services .service-1 {
  background: url("../images/webdev.jpg") no-repeat center center/cover;
}
/* line 256, ../scss/_style.scss */
.service #services .service-2 {
  background: url("../images/bespoke.jpg") no-repeat center center/cover;
}
/* line 259, ../scss/_style.scss */
.service #services .service-3 {
  background: url("../images/techstack.jpeg") no-repeat center center/cover;
}
/* line 263, ../scss/_style.scss */
.service #services .service__item-description {
  height: 60px;
  transform: translateY(20px);
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (max-width: 768px) {
  /* line 263, ../scss/_style.scss */
  .service #services .service__item-description {
    height: 90px;
  }
}
/* line 271, ../scss/_style.scss */
.service #services .service__item-description .service-title h4 {
  margin: 0;
}
/* line 275, ../scss/_style.scss */
.service #services .service__item-description .service__item-description__text {
  display: none;
}
/* line 278, ../scss/_style.scss */
.service #services .service__item-description .btn {
  display: none;
}

@media screen and (max-width: 991px) {
  /* line 285, ../scss/_style.scss */
  .welcome {
    height: 1000px;
  }
}
@media screen and (max-width: 768px) {
  /* line 285, ../scss/_style.scss */
  .welcome {
    height: 870px;
  }
}
/* line 292, ../scss/_style.scss */
.welcome .d-flex {
  gap: 4rem !important;
}
@media screen and (max-width: 991px) {
  /* line 292, ../scss/_style.scss */
  .welcome .d-flex {
    flex-direction: column !important;
  }
}
/* line 298, ../scss/_style.scss */
.welcome .welcome__text {
  flex: 55%;
}
/* line 300, ../scss/_style.scss */
.welcome .welcome__text button {
  font-weight: bolder;
}
/* line 303, ../scss/_style.scss */
.welcome .welcome__text button[aria-expanded="true"] {
  background: transparent !important;
  border-bottom: 2px solid #0083cb;
  color: #0083cb !important;
}
@media screen and (max-width: 768px) {
  /* line 298, ../scss/_style.scss */
  .welcome .welcome__text {
    margin-bottom: 2rem !important;
  }
}
/* line 312, ../scss/_style.scss */
.welcome .welcome__img {
  flex: 45%;
  justify-self: flex-end;
  position: relative;
}
/* line 317, ../scss/_style.scss */
.welcome .welcome__img img {
  position: absolute;
  width: 55%;
  transform: scale(0.9);
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* line 322, ../scss/_style.scss */
.welcome .welcome__img img:hover {
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: rotateX(35%);
  transform: scale(1);
}
/* line 327, ../scss/_style.scss */
.welcome .welcome__img img:first-of-type {
  right: 5%;
  z-index: 10;
}
/* line 331, ../scss/_style.scss */
.welcome .welcome__img img:last-of-type {
  top: 10%;
}

@media screen and (max-width: 984px) {
  /* line 338, ../scss/_style.scss */
  .why-us {
    margin-top: 12rem !important;
  }
}
@media screen and (max-width: 980px) {
  /* line 338, ../scss/_style.scss */
  .why-us {
    margin-top: 4rem !important;
  }
}
@media screen and (max-width: 991px) {
  /* line 345, ../scss/_style.scss */
  .why-us .d-flex {
    flex-direction: column;
  }
}
/* line 350, ../scss/_style.scss */
.why-us .divider {
  height: 20px;
}
/* line 353, ../scss/_style.scss */
.why-us .reasons {
  padding: 1rem;
}
@media screen and (max-width: 991px) {
  /* line 353, ../scss/_style.scss */
  .why-us .reasons {
    text-align: center;
  }
}
/* line 358, ../scss/_style.scss */
.why-us .reasons:hover {
  box-shadow: 1px 1px 20px #f6f7f8;
}
/* line 362, ../scss/_style.scss */
.why-us .reasons p {
  color: #58585a;
}

@media screen and (max-width: 991px) {
  /* line 369, ../scss/_style.scss */
  .send-message {
    gap: 0.5rem !important;
  }
}
@media screen and (max-width: 991px) {
  /* line 373, ../scss/_style.scss */
  .send-message .d-flex {
    gap: 0.5rem !important;
  }
}
@media screen and (max-width: 768px) {
  /* line 373, ../scss/_style.scss */
  .send-message .d-flex {
    gap: 5px !important;
    flex-direction: column !important;
  }
}
/* line 382, ../scss/_style.scss */
.send-message input,
.send-message textarea {
  background: #f6f7f8;
  padding: 12px;
}
@media screen and (max-width: 768px) {
  /* line 387, ../scss/_style.scss */
  .send-message button {
    display: block;
    width: 100%;
    padding: 0.5rem;
  }
}

/* line 396, ../scss/_style.scss */
.main-footer {
  background: url("../images/bespoke.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  position: relative;
  z-index: 10;
}
/* line 401, ../scss/_style.scss */
.main-footer:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(88, 88, 90, 0.92);
  z-index: -1;
}
@media screen and (max-width: 991px) {
  /* line 411, ../scss/_style.scss */
  .main-footer .d-flex {
    gap: 2rem !important;
  }
}
@media screen and (max-width: 768px) {
  /* line 411, ../scss/_style.scss */
  .main-footer .d-flex {
    flex-direction: column !important;
    gap: 1.5rem !important;
  }
}
/* line 425, ../scss/_style.scss */
.main-footer li {
  margin-bottom: 12px;
}
/* line 428, ../scss/_style.scss */
.main-footer h4 {
  text-transform: uppercase;
  font-size: 16px;
}
/* line 434, ../scss/_style.scss */
.main-footer .copyright p {
  vertical-align: middle;
}
