@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
$primary-color: #0083cb;
$secondary-color: #58585a;
$light-color: #f6f7f8;
body {
	font-family: "Roboto", sans-serif;
	line-height: 1.6;
	overflow-x: hidden;
	@media screen and (max-width: 768px) {
		line-height: 1.4;
	}
}

.gap-md {
	gap: 3rem !important;
}
.gap-sm {
	gap: 1.2rem !important;
}

// BG COLOR CLASS
.bg-primary-color {
	background: $primary-color;
	color: white;
}
.bg-light-color {
	background: $light-color;
}

.bg-secondary-color {
	background-color: $secondary-color;
	color: white;
}
// TEXT-COLOR CLASS
.text-primary-color {
	color: $primary-color;
}
// BTN CLASS
.btn {
	border: none !important;
	outline: none !important;
	border-radius: 0 !important;
}

.btn-primary-color {
	background: $primary-color;
	color: white;

	&:hover {
		color: white !important;
	}
}
.btn-outline-primary-color {
	border: 2px solid $primary-color !important;
}
// UTILITIES
ul {
	padding: 0 !important;
	li {
		list-style: none !important;
	}
}
a {
	text-decoration: none !important;
	color: white !important;
}
.shadow {
	box-shadow: 1px 1px 20px #f6f7f8;
}
input,
textarea {
	border: none;
	outline: none;
	padding: 5px 10px;
	width: 100%;
	margin-bottom: 10px;
}
.inner-showcase {
	margin-top: 4rem;
	padding-top: 1rem;
	height: 25rem;
}
.inner-showcase__title {
	font-size: 3rem;
	font-weight: bolder;
	@media screen and (max-width: 1199px) {
		font-size: 2.3rem !important;
		text-align: center;
	}
	@media screen and (max-width: 768px) {
		// font-size: 1.7rem !important;
		font-size: 1.9rem !important;
	}
}
.inner-showcase__subtitle {
	font-size: 1.5rem;
	width: 65%;
	text-align: center;
	margin-top: 0.5rem;
	@media screen and (max-width: 1199px) {
		font-size: 1.2rem !important;
		line-height: 1.4;
		width: 100%;
	}
	@media screen and (max-width: 768px) {
		font-size: 1rem !important;
	}
}
.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;

	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
	}
}
